html {
    scroll-behavior: smooth;
}

body {
    background-color: red;
}

.container {
    max-width: 75rem;
    min-height: 10rem;
    margin: auto;
    background-color: white;
    padding: 1rem;
}


#pageheader {
    background-color: coral;
    min-height: auto;
    padding: .25rem;
}

blockquote {

    width: 60%;
    margin: auto;
    padding: 1rem;
    font-weight: bold;
    color: #0957A1;
}

blockquote+span {
    width: 60%;
    margin: auto;
    display: block;
    text-align: right;
    color: #0957A1;

    ;
}

#logo {
    background-image: url(Images/logosmall.png);
    width: 6.25rem;
    height: 6.25rem;
    border: 1px solid none;
}

#pageheader .container {
    min-height: auto;
}

#pageheader nav {
    text-align: center;

}

#pageheader nav ul {
    background-color: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#pageheader nav ul li {
    border: 2px solid silver;
    padding: 1rem;
    margin: 2px;
    background-color: aliceblue;
}

#pageheader nav ul li:hover {
    background-color: rgb(142, 182, 218);
}



#media {
    background-color: lightblue;
    min-height: 10rem;
    padding: 1rem;
    background-image: url(Images/heroimage.png);
    background-size: cover;
    aspect-ratio: 16 / 9;
}

#career {
    background-color: aqua;
    min-height: 10rem;
    padding: 1rem;
}

#pagecontent {
    background-color: lightgreen;
    min-height: 10rem;
    padding: 1rem;
}

#semester1 {
    background-color: aquamarine;
    min-height: 10rem;
    padding: 1rem;
}

#semester2 {
    background-color: lightgreen;
    min-height: 10rem;
    padding: 1rem;
}

#pagefooter {
    background-color: cornflowerblue;
    min-height: auto;
    padding: 1rem;
}

#pagefooter .container {
    min-height: auto;
    text-align: center;
}

#aifooter {
    padding: 1rem;
    background-color: lightseagreen;
    min-height: auto;
}

#aifooter .container {
    min-height: auto;
    text-align: center;
}


#subfooter {
    background-color: steelblue;
    min-height: 10rem;
    padding: 1rem;
    text-align: center;
}

audio {
    border: 5px solid steelblue;
    background-color: steelblue;
    display: block;
    margin: auto;
}

@media screen and (min-width:850px) {
    #pageheader nav ul {
        margin-top: 2rem;
    }

    #pageheader nav ul li {
        display: inline-block;
    }

    #pagecontent {
        background-color: red;
    }
}

@media screen and (min-width:1000px) {
    #pagecontent {
        background-color: purple;
    }

}