/* ? This is a question comment */
/* ! This is an alert comment */
/* TODO This is a todo comment */
/* * This is a regular comment */



body
{
    background-color: steelblue;
}

h1
{
    color: white;
}

ul
{
    font-family: 'Courier New', Courier, monospace;

}